body {
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}

.grad {
    background-color: blue;
    background-image: linear-gradient(blue,  rgb(235, 235, 243));

}
.header {
    width: 100%;
    height: 68px;

}

.logo {
    float: left;
}

.logo img {
    width: 120px;
    margin: 10px 60px;

}

.nav {
    float: right;
}

.logo h2 {
    color: rgb(240, 248, 255);
}

.nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 60px;
}

.nav ul li {
    display: inline;
    float: left;

}

.nav a {
    color: rgb(243, 243, 234);
    padding: 10px;
    display: inline-block;
    border: none;
    text-decoration: none;
}

.nav a:hover {
    background-color: rgb(60, 60, 110);
    color: black;

}

.right {
    display: inline;
    float: left;
}

.right {
    margin: 0;
    padding: 0;
    width: 50%;
    height: 330px;

}
.right h4 {
    color: aliceblue;
}

.right p {
    color: aliceblue;
}

.left { 
    width: 50%;
    height: 330px;
    float: right

}

.left {
    display: inline;
}

.left p {
    margin: 60px 5px 0 0;
    color: aliceblue;
    
}

.left img {
    width: 65%;
    height: 165px;
    margin: 5px;
    border: 3px solid;
    border-color: aliceblue;

}
.box_1 {
    width: 24%;
    display: inline;
    float: left;
}
.box_1 h4 {
    color: blue;
}
.box_1 img {
    margin: 4px;
    width: 65%;
    height: 140px;
}
.box_1 p {
    color: rgb(90, 88, 88);
}
.box_1 a {
    color: black;
}
.box_1 h5 {
    color: blue;
}
.box_2 {
    margin: 4px;
    width: 24%;
    display: inline;
    float: left;
}
.box_2 img {
    width: 65%;
    height: 140px;
}
.box_2 h4 {
    color: blue;
}
.box_2 p {
    color: rgb(90, 88, 88);
}
.box_2 a {
    color: black;
}
.box_2 h5 {
    color: blue;
}
.box_3 {
    margin: 4px;
    width: 24%;
    display: inline;
    float: left;
}
.box_3 img {
    width: 65%;
    height: 140px;
}
.box_3 p {
    color: rgb(90, 88, 88);
}
.box_3 a {
    color: black;
}
.box_3 h5 {
    color: blue;
}

.box_4 {
    margin: 4px;    
    width: 25%;
    display: inline;
    float: left;
}
.box_4 img {
    width: 60%;
    height: 14  0px;
}
.box_4 p {
    color: rgb(90, 88, 88);
}
.box_4 a {
    color: black;
}
.box_4 h5 {
    color: blue;
}
.footer {
    width: 100%;
    height: 30px;
    text-align: center;
    color: blue;
}